header {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  background: #ededed;
  box-shadow: 1px 2px 8px 1px rgba(62, 62, 62, 0.3);
  z-index: 99;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    box-sizing: border-box;

    &-logo {
      a {
        font-size: 1.2rem;
        font-weight: 700;
        color: #842432;
        text-decoration: none;
      }
    }

    &-links {
      a {
        margin-left: 10px;
        background: #b38a00;
        color: #fff;
        padding: 5px 10px;
        font-size: 0.8rem;
        border-radius: 7px;
        text-decoration: none;
        transition: 0.3s all;
        border: 1px solid #b38a00;
        font-weight: 600;

        &:hover {
          background: #fff;
          color: #b38a00;
        }
      }
    }
  }
}
